In [ ]:
list1 = ['adam', 'kurnia', 'pradana', 'dana']
list2 = ['adam', 'pradana']

In [ ]:
len(list1)

4

In [ ]:
for i in range(len(list1)):
  i = len(list1) - 1 - i
  print(list1[i])

dana
pradana
kurnia
adam

In [ ]:
range(4) === 0,1,2,3
range(4,-1)

In [ ]:
for j in range(len(list1)-1,-1,-1):
  print(list1[j])

dana
pradana
kurnia
adam

In [ ]:
listAngka = [1,2,3,4,5]
listAngka.append("ashiap")

[1, 2, 3, 4, 5, 'ashiap']

In [ ]:
listAngka.remove('numpang')
print(listAngka)

[1, 'numpang', 2, 3, 4, 5, 'ashiap']

In [ ]:
listAngka.pop(1)

'numpang'

In [ ]:
listAngka[5] = 'blomsiap'

In [ ]:
listAngka

[1, 2, 3, 4, 5, 'blomsiap', 'oke']

In [ ]:
angka = 8

angka not in listAngka

True

In [ ]:
listA = ['adam', 'kurnia']
listB = ['dana', 'pradana']

listM = listB + listA

In [ ]:
listC = [10]

In [ ]:
listM.extend(listC)

In [ ]:
listM

['dana', 'pradana', 'adam', 'kurnia', 10]

#Exercise

In [ ]:
listA = ['a','b','c','a','b','b','c']
listB = ['a','b','c']

a:2
b:3
c:2

In [ ]:
for i in listB:
  count = 0
  for j in listA:
    if i == j:
      count += 1
  print(f"{i}:{count}")

a:2
b:3
c:2

In [ ]:
tupleA = (2, 'adam', 14)

In [ ]:
for x in tupleA:
  print(x)

2
adam
14

#Set

In [ ]:
setA = {3,'dana','adam',14,2}

In [ ]:
setA

{14, 2, 3, 'adam', 'dana'}