In [1]:
num = int(input("Bilangan: "))

if num % 2 != 0:
  print("Ganjil")
else:
  print("Genap")

Bilangan: 8
Genap

In [2]:
def checkNum(num) :
  if num % 2 != 0:
    print("Ganjil")
  else:
    print("Genap")

In [3]:
checkNum(5)

Ganjil

In [4]:
def checkAngka(angka1, angka2):
  if angka1 > angka2:
    print("angka1 lebih besar")
  else:
    print("angka2 lebih besar")

In [5]:
checkAngka(2,1)

angka1 lebih besar

#Function II

In [ ]:
def addNum(num1, num2):
  resNum = num1 + num2
  print(f"{resNum}")

In [ ]:
resFunction = addNum(9,10)

19

#Latihan

In [ ]:
def numMax(num1, num2, num3):
  num = num1
  if num > num2:
    if num > num3:
      return num
  else:
    num = num2
    if num > num3:
      return num
    else:
      return num3

#function III

In [ ]:
def funcAngka(*angka):
  print(angka)

In [ ]:
tupleAngka = funcAngka(1,2,3,4)

(1, 2, 3, 4)

In [ ]:
def funcCheck(*num):
  print(sum(num))

In [ ]:
funcCheck(1,3,4,5)

13

In [ ]:
def sumNum(*num):
  print(sum(num))

In [ ]:
sumNum (1,3,4,5)

13

#Function IV

In [ ]:
def checkNum(num, listNum):
  if num in listNum:
    print(True)
  else:
    print(False)

In [ ]:
checkNum(12,[1,2,3,4,5])

False

In [ ]:
def checkNum(**var):
  print(var)

In [ ]:
checkNum(nama="Adam", umur=28)

{'nama': 'Adam', 'umur': 28}

Lambda Function

In [ ]:
funcFor = lambda a,b: "a" if a > b else "b"

In [ ]:
lambdaFor = lambda listX: [i+3 for i in listX]

In [ ]:
lambdaFor([1,3,4])

[4, 6, 7]

In [ ]:
lambdaAdd(5,4,2)

11

#Function V

In [ ]:
def sumNum(a,b):
  global res
  res = a + b
  print(res)

In [ ]:
sumNum(4,4)

8

In [ ]:
res

8

#Object and Class

In [7]:
class Human:
  def __init__ (self, nama, umur, jk):
    self.nama = nama
    self.umur = umur
    self.jenis_kelamin = jk     
  
  def perkenalan(self):
    print(f"Hai nama saya {self.nama}")
  
  def menyapa(self, var):
    print(f"Hallo {var}, saya {self.nama}")

In [8]:
person1 = Human("adam", 24, "pria")
person2 = Human("aji", 24, "pria")

In [10]:
person1.perkenalan()

Hai nama saya adam