#Basic While Loops

In [1]:
i = 0
while (i < 5) :
    print(i)
    i = i + 1

0
1
2
3
4

In [ ]:
i = 0
while (i < 5) :
    print(i, end=' ')
    i = i + 1

0 1 2 3 4

In [2]:
listAngka = []
j = 0
while (j < 5) :
    listAngka.append(j)
    j += 1
print(listAngka)

[0, 1, 2, 3, 4]

#Basic For Loops

In [6]:
range(0,4)

range(0, 4)

In [9]:
for i in range(0,10,2) :
  print(i, end=' ')

0 2 4 6 8

#For Loop - String

In [10]:
x = 'adam'
for i in x:
  print(i, end="")

adam

#While Loop - String

In [11]:
y = 'Adam!'

i = 0
while (i < len(y)) :
  print(y[i], end='')
  i += 1

Adam!

In [12]:
strNama = 'adamkurniapradana'

i = 0
while(i < len(strNama)) :
  if i in [0,1,2]:
      i += 1
      continue
  print(strNama[i], end=' ')
  i += 1

m k u r n i a p r a d a n a

In [13]:
for i in range(1,6) :
  if i == 2:
    pass
  else:
    print(i)
  print('yes')

1
yes
yes
3
yes
4
yes
5
yes

In [14]:
for i in range(1,6) :
  if i == 2:
    continue
  else:
    print(i)
  print('yes')

1
yes
3
yes
4
yes
5
yes

In [15]:
listAngka = ['Adam', 'Kurnia']

x = 0
while (x < len(listAngka)) :
  print(listAngka[x], end=' ')

  x += 1

Adam Kurnia

In [ ]:
listAngka = ['Adam', 'Kurnia']

for i in listAngka :
  print(i)

Adam
Kurnia

In [ ]:
for x in "pradana":
  for y in range(6):
    print(x, end=' ')
  print(" ")
print("end of code")

p p p p p p
r r r r r r
a a a a a a
d d d d d d
a a a a a a
n n n n n n
a a a a a a
end of code

In [ ]:
for n in range(3):
  for m in range(2):
    for p in range(3):
      print(n,m,p)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2

In [16]:
for n in range(3):
  for m in range(2):
    for p in range(3):
      print(n,m,p)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2

In [ ]:
n = int(input("Angka: "))

listN = []
i = 0
while (i < n):
  listN.append(pow(i,2))
  i += 1

print(listN)

Angka: 4
[0, 1, 4, 9]

In [ ]:
n = int(input("Angka: "))
i = 0
for (i < n):
  if i % 3 == 0 & i % 5 == 0 :
    print ("FizzBuzz")
  elif i % 3 == 0 :
    print ("Fizz")
  elif i % 5 == 0 :
    print("Buzz")
  else :
    print(i)
i += 1

SyntaxError: ignored

In [ ]:
t

In [ ]:
for i in range(1,50) :
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif (i % 3 == 0) :
    print("Fizz")
  elif (i % 5 == 0) :
    print("Buzz")
  else :
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

In [ ]:
x = str(input("Masukkan terserah: "))
reverse = (x[::-1])

if x == reverse :
  print("betul palyndrome")
else :
  print("bukan palyndrome")

Masukkan terserah: uteke
bukan palyndrome

In [ ]:
class Solution(object):
   def fizzBuzz(self, n):
      result = []
      for i in range(1,n+1):
         if i% 3== 0 and i%5==0:
            result.append("FizzBuzz")
         elif i %3==0:
            result.append("Fizz")
         elif i% 5 == 0:
            result.append("Buzz")
         else:
            result.append(str(i))
      return result
ob1 = Solution()
print(ob1.fizzBuzz(30))

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz', '16', '17', 'Fizz', '19', 'Buzz', 'Fizz', '22', '23', 'Fizz', 'Buzz', '26', 'Fizz', '28', '29', 'FizzBuzz']